@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url('assets/movie-time-cinema-film-strip-background_1017-36653.jpg.crdownload');
}

.personal-logo {
  color: red;
  font-size: 3rem;
}

button {
  border: none;
}

img {
  width: 100%;
  filter: brightness(150%);
}

.container {
  padding: 0 1rem;
}

.cursor-none {
  cursor: not-allowed;
}

input {
  border: 2px solid transparent;
  outline: none;
  padding: 16px 32px 16px 16px;
  border-radius: 9999px;
  color: red;
  background-color: rgba(166, 18, 18, 0.449);
  transition: border 300ms ease;
}

input:focus {
  border: 2px solid red;
}

.button {
  position: absolute;
  top: 25%;
  right: 10%;
  transition: scale 300ms ease;
  background-color: transparent;
} 

.button:hover {
  scale: 1.2;
}

.button:active {
  scale: .7;
}

.input-shake {
  animation: shake 300ms ease;
}

@keyframes shake {
  0% {
    translate: 10px;
  }
  25% {
    translate: -20px;
  }
  50% {
    translate: 10px;
  }
  75% {
    translate: -20px;
  }
  100% {
    translate: 0;
  }
}


.fa-spinner {
  position: absolute;
  color: rgba(221, 9, 9, 0.739);
  font-size: 5rem;
  animation: spin 800ms infinite linear;
  display: none !important;
}

.not-found__img--wrapper{
  width: 200px;
  aspect-ratio: 1;
}

.display-block {
  display: block !important;
}


@keyframes spin {
  0% {
    rotate: 360deg;
  }
}




/*

header

*/

header {
  background-color: transparent;
  padding-top: 16px;
  padding-bottom: 32px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.personal__logo-wrapper {
  width: 120px;
  height: 4rem;
  overflow: hidden;
}

.personal-logo {
  transform: scale(3) translateY(-5px);
  filter: brightness(200%);
}

.header__links {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.header__link {
  color: rgb(134, 55, 55);
  font-size: 1.7rem;
  font-weight: bold;
  display: flex;
  gap: 1rem;
}

.input--wrapper {
  position: relative;
}

/* 

MAIN

*/

.movie__searched {
  color: rgba(221, 9, 9, 0.739);
  text-align: center;
}

.movie__searched--name {
 color: rgb(255, 9, 9);
}

.card-list {
  position: relative;
  margin-top: 72px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  max-width: 500px;
  max-height: fit-content;
  border-radius: 5%;
  padding: 24px;
  margin: 0 32px 32px 32px;
  background-color: rgb(138, 45, 45);
}

.card__info {
  color: white;
  width: fit-content;
}

.card__img--wrapper {
  margin: 0 auto 16px;
  width: fit-content;
}

.card__img {
  filter: brightness(100%);
  max-height: fit-content;
  display: block;
  margin: 0 auto;
  width: 80%;
}

.card__title {
  margin-bottom: 32px;
}

.card__type {
  margin-bottom: 4px;
}

/* 

PHONES

*/

@media (max-width:815px) {
  .card {
    width: 50%;
  }
}

@media (max-width:540px) {
  .container {
    padding: 0 8px;
  }
  .header__link {
    gap: 10px;
  }
  .personal__logo-wrapper {
    width: 90px;
  }
  .personal-logo {
    transform: scale(3) translateY(0);
  }
  .card {
    width: 100%;
  }
  .card__title {
    font-size: 1.5rem;
    margin-bottom: 16px;
  }
}
